<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
    <head>
        <title>Delete Event</title>
        <link href="/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        <img src="/appBanner.jpg" style="width: 100%;">
        <main>
            <br>
            <p class="h1 text-center">The Event Id provided does not exist!</p>
            <br>
            <p class="h3 text-muted text-center">The provided id was <%= eventId %></p>
            <p class="h5 text-muted text-center">Example Path: http://localhost:8080/event/Gunnraj/delete-event?eventId=XXX-0000</p>
        </main>
        <div style="height:0;width:80%;padding-top:5%;padding-bottom:20%;padding-left:11.5%">
            <div class="container">
                <a type="button" class="btn btn-primary" href="/">Back to Homepage</a>
                <a type="button" class="btn btn-primary" href="/event/Gunnraj/events">Go to View Events</a> 
            </div>
        </div>
    </body>
</html>