<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
    <head>
        <title>404 Error</title>
        <link href="/bootstrap.min.css" rel="stylesheet" />
    </head>

    <body>
        <img src="/appBanner.jpg" style="width: 100%;">
        <main>
            </br>
            <p class="h1 text-center"><%= message%></p>
            </br>
            <!-- custom positioning of the container and button-->
            <div style="height:0;width:10%;padding-bottom:10%;padding-left:43%">
				<div class="container">
                    <a type="button" class="btn btn-primary" href="/">Homepage</a>
                </div>
            </div>
        </main>
    </body>
</html>